
	<div id="banner">
	   <div class="logo"></div>
		<div class="dance-scottish-logo"></div>


	<div class="menu-text-bar">		
		<div class="menu-text">Home</div>
		<div class="menu-text">
		About Us
		</div>
		<div class="menu-text">Classes</div>
		<div class="menu-text">Events</div>
		<div class="menu-text">Contact</div>
	</div>

	</div>


   

<div style="margin-top: 180px">
</div>