
ul.squarewhite {
    margin:0;
    padding: 0px;
    list-style:none;
    display: inline-block;    
    cursor: default;  
    vertical-align: top;
    color: #444444;
}
ul.squarewhite li a {
	text-decoration: none;
	cursor: pointer;
	color: black;
}
ul.squarewhite li a.hover {
	color: white;
}

ul.squarewhite li.level-0 {
    position:relative;
    display: -moz-inline-stack;
    display: inline-block;
    *display: inline;
    vertical-align: top;
    zoom: 1;
    
    border-top: 1px solid #B0C8EA;
    width: 7em;
    
    padding: 2px 0px 2px 0px;
        
    font-family: Helvetica, Arial, Verdana, sans-serif;
    font-size: 18px;
    margin:0;
}

ul.squarewhite li.level-0.hover {
    border-top: 1px solid #0070BA;    
    -webkit-box-shadow: 0 0 5px rgba(0,0,0,.22);
    -moz-box-shadow: 0 0 5px rgba(0,0,0,.22);
    -o-box-shadow: 0 0 5px rgba(0,0,0,.22);
    box-shadow: 0 0 5px rgba(0,0,0,.22);
}
ul.squarewhite li.level-0 ul {
    position:absolute;
    display: none;
    padding:0;
    width:15em;
    background: #fff;
    border: solid #B0C8EA;
    border-radius: 0px 0px 8px 6px;
    overflow: hidden;
    
    border-width: 0px 3px 3px 3px;
    -webkit-box-shadow: 2px 3px 8px rgba(0,0,0,.22);
    -moz-box-shadow: 2px 3px 8px rgba(0,0,0,.22);
    -o-box-shadow: 2px 3px 8px rgba(0,0,0,.22);
    box-shadow: 2px 3px 8px rgba(0,0,0,.22);
}
ul.squarewhite li.level-0 li {
    position:relative;
    filter: none;
    color:#444444;
    font-size: 18px;
    display: block;
    padding: 8px 6px 8px 6px;
}

ul.squarewhite li.level-0 li.first,
ul.squarewhite li.level-0 li.middle{
    border-bottom:1px solid #B0C8EA;
}
ul.squarewhite li.level-0 li.last{
    border-bottom:none;
}
ul.squarewhite li.level-0 li.hover{
    background-color:#0070BA;
    color:white;
}

ul.squarewhite li.level-1 ul {
    margin:0 0 0 -3px;    
}

ul.squarewhite span.arrow{
    display:none;
}

li.level-1.first {
	border-top: 2px solid #B0C8EA;
}

ul.level-1 {
	margin-top: -4px;
}

ul.squarewhite li.level-0 {
	padding-left: 4px;
}

#menu-events {
	text-align: left;
}