.bottom-gap {
  margin-bottom: 10px;
}
.bottom-gap2 {
  margin-bottom: 20px;
}

.facebook {
	background: url("../images/FB-FindUsonFacebook-online-114.png");
	width: 114px;
	height: 21px;
	display: inline-block;
}

.video-block {
    float: left;
    margin-right: 8px;
}

.scalable-image {
    max-width: 100%;
    height: auto;
}

.navbar-fixed-bottom {
  color: white;
  font-size: 80%;
}

.menu-button {
	margin: 8px auto 8px auto;
	border-radius: 42px;
	border: 2px solid #B0C8EA;
	width: 84px;
	height: 84px;
}

.menu-button:hover {
	border: 2px solid #0070ba;
}

.menu-button-wrapper {
	color: #0070ba;
	width: 210px;
	margin: 20px 10px 0px 10px;
	display: inline-block;
	vertical-align: top;
	text-align: center;
}
.menu-button-wrapper a {
	text-decoration: none;
}

.menu-shopping-button {
	background:  url("../images/Shopping Basket Black-sml.png") no-repeat 11px 11px;
}
.menu-shopping-button:hover {
	background: #0070ba url("../images/Shopping Basket White-sml.png") no-repeat 11px 11px;
}

.menu-events-button {
	background:  url("../images/Calendar Black-sml.png") no-repeat 10px 9px;
}
.menu-events-button:hover {
	background: #0070ba url("../images/Calendar White-sml.png") no-repeat 10px 9px;
}

.menu-dancers1-button {
	background: white url("../images/Dances 1 Black-sml.png") no-repeat 10px 13px;
}
.menu-dancers1-button:hover {
	background: #0070ba url("../images/Dances 1 White-sml.png") no-repeat 10px 13px;
}

.menu-news-button {
	background:  url("../images/News 2 Black-sml.png") no-repeat 14px 10px;
}
.menu-news-button:hover {
	background: #0070ba url("../images/News 2 White-sml.png") no-repeat 14px 10px;
}

.menu-whiterose-button {
	background: white url("../images/Dances 2 Black-sml.png") no-repeat 10px 13px;
}
.menu-whiterose-button:hover {
	background: #0070ba url("../images/Dances 2 White-sml.png") no-repeat 10px 13px;
}

#logo-row {
    overflow: hidden;
}

.branch-logo {
	background: url("../images/RSCDS-Leeds-White-Logo-sml2.png");
  width: 130px;
  height: 84px;
  float: left;
  margin: 4px 8px 4px 15px;
}
.scottish-logo {
  background: url("../images/Dance-Scottish-White-sml2.png");
  width: 130px;
  height: 49px;
  float: right;
  margin: 20px 15px 4px 4px;
}

table.calendar {
  border-collapse: collapse;
  width: 100%;
}
.calendar th {
  text-align: center;
}
.calendar th {
  width: 13.428%;
}
.calendar th.first-column {
  width: 6%;
}
.calendar td {
  border: 1px solid #e0e0ff;
  padding: 4px;
  text-align: right;
  vertical-align: top;
/*  height: 45px;*/
}

.calendar td.first-column {
  font-size: 120%;
  font-weight: bold;
  text-align: center;
}
.calendar td.shade {
  background-color: #f0f0ff;
}

.calendar tr td.today {
    background-color: #303090;
    color: white;
}

.calendar .badge {
  color: white;
  font-size: 80%;
  float: left;
  margin-right: 2px;
  margin-bottom: 2px;
}

.calendar .day {
  float: right;
  font-size: 120%;
}

.info-block {
  padding: 12px;
  border-radius: 16px;
}

.home-note {
  margin: 4px 0px 4px 20px;
  font-size: 12px;
  display: inline-block;
  padding: 2px 4px;
  color: gray;
  background: #f2dede;
  border: 1px dotted #f20000;
  border-radius: 12px;
}

.note {
  margin: 4px 0px 4px 0px;
  font-size: 12px;
  display: inline-block;
  padding: 2px 4px;
  color: gray;
  background: #f2dede;
  border: 1px dotted #f20000;
  border-radius: 12px;
}

.indent {
  margin-top: 8px;
  margin-left: 24px;
}

.initial-fade {
    opacity: 1.0;
}

.xs-pad-footer {
    height: 32px;
}

.text-xs-right {
  text-align: right;
}

@media (min-width: 768px) {
  .xs-pad-b1 {
    padding-bottom: 0px;
  }
  .text-xs-right {
    text-align: left;
  }
  .text-sm-right {
    text-align: right;
  }
}
@media (min-width: 992px) {
  .text-sm-right {
    text-align: left;
  }
}
