---
pageTitle: "About Leeds branch"
scripts: []
---

<div class='body_text'>
<h1>History</h1>
The Leeds Branch of the RSCDS was formed on 21st June 1962 by 4 members of the Leeds Scottish Country Dance Club - Miss Mair Pinnell, Miss Shirley Shields, Dr. William Cunningham and Hammond Jack. Since our formation we have run dances with bands, initially only twice a year but now every month. 

<h1>Activities</h1>
The classes the branch runs are
<ul>
	<li>four general (beginners welcome).</li>
	<li>an advanced</li>
	<li>a children's</li>
	<li>a monthly demonstration</li>
</ul>
The branch also runs 
<ul>
	<li>White Rose festival of Scottish country dancing</li>
	<li>Scottish country dancing day schools</li>
	<li>highland dancing day schools</li>
	<li>musicians day school</li>
	<li>back to basics - covering the basic techniques of Scottish country dancing</li>
	<li>spring weekend in Scarborough</li>
	<li>autumn weekend in Malhamdale</li>
</ul>

<h1>Branch Responsibilities</h1>
<h2>Branch Officers 2014/2015</h2>
<div>
	<div class="column_header">Chairman</div>
	<div class="column">Irene Dracup</div>
</div>
<div>
	<div class="column_header">Secretary</div>
	<div class="column">Betty Hagart</div>
</div>
<div>
	<div class="column_header">Treasurer</div>
	<div class="column">Gerry Yates</div>
</div>
<div>
	<div class="column_header">Membership Secretary</div>
	<div class="column">Brenda Burnell</div>
</div>

<h2>Branch Committee</h2>
<div>
	<div class="column">Janet Brayson</div>
	<div class="column">Mairi Devlin</div>
	<div class="column">Ian Clarke</div>
</div>
<div>
	<div class="column">Pat Cowles</div>
	<div class="column">Heather Foote</div>
	<div class="column">Jean Weatherill</div>
</div>
<div>
	<div class="column">Catherine Livsey</div>
	<div class="column">Adrian Dickin</div>
</div>

<h2>Additional</h2>
<div>
	<div class="column_header">Newsletter Editor</div>
	<div class="column">Catherine Livsey</div>
</div>
<div>
	<div class="column_header">Branch Shop Manager</div>
	<div class="column">Christine Parker-Jones</div>
</div>

</div>
