---
pageTitle: "About Scottish Country Dancing"
scripts: []
---

<div class='body_text'>
<h1>What is Scottish Country Dancing</h1>
<p>Scottish Country Dancing (SCD) is a sociable dance form with roots stretching back for centuries. Participants are grouped into sets, typically of 3, 4, or 5 couples arranged either in two lines (men facing ladies) or in a square, and work together to dance a sequence of formations. This will leave them in a new order, and the dance is repeated enough times to bring them back to their starting positions, with everyone dancing each position in turn.</p>

<h2>What's needed for a class</h2>
<p> ... </p>

<h2>Do you need a partner</h2>
<p> ... </p>


</div>
