---
pageTitle: "About Leeds branch"
scripts: []
pageDescription: "Activities, events and the history of the Leeds RSCDS branch"
---

<h1>Membership</h1>
Branch membership means you will be a member of the RSCDS, with benefits including
<ul>
 <li>reduced fees on RSCDS dances and events</li>
 <li>A twice-yearly members' magazine packed with information and interesting articles, delivered to your door</li>
 <li>A bi-monthly Newsletter sent directly to your email inbox</li>
</ul>

<p>To become a member fill in the 2019-2020  <a href="documents/Member Form 2019-20 pink.pdf">membership form</a>,
to subscribe to the branch mailing list fill in the
  <a target="_blank"
    href="https://rscdsleeds.us14.list-manage.com/subscribe?u=292af2b7869298300bf9ea46a&id=8bf7f9e3e9">subscription form</a>.
</p>

<p>The Leeds Branch privacy policy is available
<a target="_blank" href="/documents/RSCDS Leeds Privacy Policy 9_18.pdf">here
</a>.
</p>

<h1>Activities</h1>
The <a href="classes.html">classes</a> the branch runs are
<ul>
	<li>five general (beginners welcome).</li>
	<li>an advanced</li>
	<li>a monthly demonstration</li>
</ul>
The <a href="events.html">events</a> the branch runs are
<ul>
	<li>The <a href="white_rose_festival.html">White Rose Festival</a></li>
	<li>Scottish country dancing day schools</li>
	<li>highland dancing day schools</li>
	<li>musicians day school</li>
	<li>back to basics - covering the basic techniques of Scottish country dancing</li>
	<li>spring weekend in Scarborough</li>
	<li>autumn weekend in Malhamdale</li>
</ul>

<h1>Charity</h1>
The branch is registered charity
<a target="_blank"
   href="http://apps.charitycommission.gov.uk/Showcharity/RegisterOfCharities/CharityWithoutPartB.aspx?RegisteredCharityNumber=1072452&SubsidiaryNumber=0">1072452</a>,
 aiming to promote and teach Scottish Country Dancing.


<h1>History</h1>

<p>The Leeds Branch of the RSCDS was formed on 21st June 1962 by 4 members of the Leeds Scottish Country Dance Club - Miss Mair Pinnell, Miss Shirley Shields, Dr. William Cunningham and Hammond Jack.
Since our formation we have run dances with bands, initially only twice a year but now every month.
<br />
Details on the branch constitutions and current committee members are on this <a href="branch_members.html"> page</a>.
</p>

<p>A history of the Leeds Club is <a href="leeds_club_history.html">available</a>, written in 1971.</p>

<h1>Roy Goldring</h1>
<p>Roy was one of the most prolific modern dance devisors, he was also a member and chairman of the Leeds branch. The dance database at Strathspey shows <a href="http://my.strathspey.org/dd/person/146/">244 dances</a> created by Roy. </p>
<p>
Some of his more well known dances include
<ul>
<li><a href="http://my.strathspey.org/dd/dance/340/">Back to the Fireside</a></li>
<li><a href="http://my.strathspey.org/dd/dance/9107/">EH3 7AF</a></li>
<li><a href="http://my.strathspey.org/dd/dance/3326/">John of Bon Accord</a></li>
<li><a href="http://my.strathspey.org/dd/dance/4411/">The Minister on the Loch</a></li>
<li><a href="http://my.strathspey.org/dd/dance/9638/">Miss Johnstone of Ardrossan</a></li>
<li><a href="http://my.strathspey.org/dd/dance/11189/">The Piper and the Penguin</a></li>
<li><a href="http://my.strathspey.org/dd/dance/5529/">The Reel of the Royal Scots</a></li>
<li><a href="http://my.strathspey.org/dd/dance/6701/">Tribute to the Borders</a></li>
<li><a href="http://my.strathspey.org/dd/dance/2924/">The Highland Rambler</a></li>
</ul>
</p>

<br />
<br />
