---
pageTitle: "About Scottish Country Dancing"
scripts: []
---

<div class='body_text'>
<h1>What is Scottish Country Dancing</h1>
<p>Scottish Country Dancing (SCD) is a sociable dance form with roots stretching back for centuries. Participants are grouped into sets, typically of 3, 4, or 5 couples arranged either in two lines (men facing ladies) or in a square, and work together to dance a sequence of formations. This will leave them in a new order, and the dance is repeated enough times to bring them back to their starting positions, with everyone dancing each position in turn.</p>

<p>Scottish Country Dancing is not something which can be learned in a night, you need to attend classes regularly for a couple of years to become proficient, but you will still have great fun while you are learning, and you will find that everyone is very friendly and helpful.</p>

<h2>Do I need special clothes</h2>
<p> For classes the clothing should allow you freedom of movement good. The footwear should have a soft non-slip sole such as jazz or ballet shoes, men generally wear ghillies.</p>
<p>Branch dances and balls are more formal.  <i>details needed here</i></p>

<h2>Do you need a partner</h2>
<p>No. Usually in Scottish country dancing, dancers take a different partner for each dance. This adds to the social nature of the dancing, and means that you get an opportunity to meet and dance with lots of different people. Nearly all Scottish country dances need at least six people to dance together. And ladies can ask men to dance as well! </p>

<h2>Is it healthy</h2>
<p>A study at the University of Cumbria, <a href="http://www.cumbria.ac.uk/AboutUs/News/Articles/201314/January/PR1333.aspx">New research reveals Scottish country dancing can delay ageing process</a>, details the health benefits. It is also great fun and very social.
</p>

</div>
