---
pageTitle: "About Scottish Country Dancing"
scripts: []
pageDescription: "Details and videos explaining and demonstrating Scottish Country Dancing"
---

<div class='body_text'>

<h1>What is Scottish Country Dancing</h1>

<p>Scottish Country Dancing (SCD) is a fun and sociable dance form with roots stretching back for centuries. Participants are grouped into sets, typically of 3, 4, or 5 couples arranged either in two lines (men facing ladies) or in a square, and work together to dance a sequence of formations. This will leave them in a new order, and the dance is repeated enough times to bring them back to their starting positions, with everyone dancing each position in turn.</p>

<p>A little application and practice is needed to learn the different dance steps and variety of formations, but it is possible to very quickly achieve enough competence to join in dances. <br />
Gradually ability can be built until it is possible to participate in thousands of dances with other Scottish Dancers in the United Kingdom and around the world.</p>

<div>
There are three types of scottish country dance.
These are the reel, the jig and the strathspey. The reel and jig are very similar, the strathspey is slower with different movements.
</div>
<br />

<div class="video-block">
	This is a jig, from a group in Hong Kong.<br />
	<iframe width="420" height="315" src="https://www.youtube.com/embed/2ydtMR1HVFI" frameborder="0" allowfullscreen></iframe>
</div>

<div class="video-block">
	This is a reel. <br/>
	<iframe width="560" height="315" src="https://www.youtube.com/embed/l4NVNzxuYkY" frameborder="0" allowfullscreen></iframe>
</div>

<div class="video-block">
	This is a strathspey <br/>
	<iframe width="420" height="315" src="https://www.youtube.com/embed/VvIzP0GOolo" frameborder="0" allowfullscreen></iframe>
</div>

<br clear="left"/>

<p>More details on Scottish Country Dancing can be found on the <a href="http://www.strathspey.org/what_is_scd/" target="_blank">strathspey site</a></p>

<h2>Do I need special clothes</h2>
<p> For classes you just need comfortable clothes and soft soled shoes</p>

<h2>Do you need a partner</h2>
<p>No. Usually in Scottish country dancing, dancers take a different partner for each dance. This adds to the social nature of the dancing, and means that you get an opportunity to meet and dance with lots of different people. Nearly all Scottish country dances need at least six people to dance together. And ladies can ask men to dance as well! </p>

<h2>Is it healthy</h2>
<p>A study at the University of Cumbria, <a href="http://www.cumbria.ac.uk/AboutUs/News/Articles/201314/January/PR1333.aspx" target="_blank">New research reveals Scottish country dancing can delay ageing process</a>, details the health benefits. It is also great fun and very social.
</p>

</div>
