---
pageTitle: "About Leeds branch"
scripts: []
---

<h1>This is h1</h1>
<h2>This is h1</h2>
<h3>This is h1</h3>

<p>The Leeds Branch of the RSCDS was formed on 21st June 1962 by 4 members of the Leeds Scottish Country Dance Club - Miss Mair Pinnell, Miss Shirley Shields, Dr. William Cunningham and Hammond Jack. Since our formation we have run dances with bands, initially only twice a year but now every month. These are currently held at West Park Curriculum Development Centre, Spen Lane, Leeds.</p>

<p>We run four general classes (beginners welcome), an advanced class, and a children's class each week with a monthly demonstration class. We also run Day Schools in Scottish Country and highland dancing for inexperienced and more experienced dancers, teachers courses, as well as a weekend course at Scarborough each Spring and at Malhamdale in the Autumn (for the less experienced.) We have an adult and a children's demonstration team.</p>