---
pageTitle: "About Leeds branch"
scripts: []
---

<div class='body_text'>
<h1>History</h1>

<p>The Leeds Branch of the RSCDS was formed on 21st June 1962 by 4 members of the Leeds Scottish Country Dance Club - Miss Mair Pinnell, Miss Shirley Shields, Dr. William Cunningham and Hammond Jack. Since our formation we have run dances with bands, initially only twice a year but now every month. </p>

<h1>Activities</h1>
The classes the branch runs are
<ul>
	<li>four general (beginners welcome).</li>
	<li>an advanced</li>
	<li>a children's</li>
	<li>a monthly demonstration</li>
</ul>
The branch also runs 
<ul>
	<li>White Rose festival of Scottish country dancing</li>
	<li>Scottish country dancing day schools</li>
	<li>highland dancing day schools</li>
	<li>musicians day school</li>
	<li>back to basics - covering the basic techniques of Scottish country dancing</li>
	<li>spring weekend in Scarborough</li>
	<li>autumn weekend in Malhamdale</li>
</ul>


</div>
