---
pageTitle: "About Leeds branch"
scripts: []
---

<div class='body_text'>

<h1>Activities</h1>
The <a href="classes.html">classes</a> the branch runs are
<ul>
	<li>four general (beginners welcome).</li>
	<li>an advanced</li>
	<li>a children's</li>
	<li>a monthly demonstration</li>
</ul>
The branch also runs 
<ul>
	<li>White Rose festival of Scottish country dancing</li>
	<li>Scottish country dancing day schools</li>
	<li>highland dancing day schools</li>
	<li>musicians day school</li>
	<li>back to basics - covering the basic techniques of Scottish country dancing</li>
	<li>spring weekend in Scarborough</li>
	<li>autumn weekend in Malhamdale</li>
</ul>

<h1>History</h1>

<p>The Leeds Branch of the RSCDS was formed on 21st June 1962 by 4 members of the Leeds Scottish Country Dance Club - Miss Mair Pinnell, Miss Shirley Shields, Dr. William Cunningham and Hammond Jack. Since our formation we have run dances with bands, initially only twice a year but now every month. </p>

<h1>Roy Goldring</h1>
<p>Roy was one of the most prolific modern dance devisors, he was also a member and chairman of the Leeds branch. The dance database at Strathspey shows <a href="http://my.strathspey.org/dd/person/146/">244 dances</a> created by Roy. </p>
<p>
Some of his more well known dances include
<ul>
<li><a href="http://my.strathspey.org/dd/dance/340/">Back to the Fireside</a></li>
<li><a href="http://my.strathspey.org/dd/dance/9107/">EH3 7AF</a></li>
<li><a href="http://my.strathspey.org/dd/dance/3326/">John of Bon Accord</a></li>
<li><a href="http://my.strathspey.org/dd/dance/4411/">The Minister on the Loch</a></li>
<li><a href="http://my.strathspey.org/dd/dance/9638/">Miss Johnstone of Ardrossan</a></li>
<li><a href="http://my.strathspey.org/dd/dance/11189/">The Piper and the Penguin</a></li>
<li><a href="http://my.strathspey.org/dd/dance/5529/">The Reel of the Royal Scots</a></li>
<li><a href="http://my.strathspey.org/dd/dance/6701/">Tribute to the Borders</a></li>
<li><a href="http://my.strathspey.org/dd/dance/2924/">The Highland Rambler</a></li>
</ul>
</p>
 
</div>
