---
pageTitle: "Who's who"
scripts: ["handleEmailLinks();"]
---

<div class='body_text'>
<h1>Branch Responsibilities</h1>
<h2>Branch Officers 2014/2015</h2>
<div>
	<div class="column_header">Chairman</div>
	<div class="column">Irene Dracup {{{email 'chairman@rscdsleeds.org.uk'}}}</div>
</div>
<div>
	<div class="column_header">Secretary</div>
	<div class="column">Betty Hagart {{{email 'secretary@rscdsleeds.org.uk'}}}</div>
</div>
<div>
	<div class="column_header">Treasurer</div>
	<div class="column">Gerry Yates {{{email 'treasurer@rscdsleeds.org.uk'}}}</div>
</div>
<div>
	<div class="column_header">Membership Secretary</div>
	<div class="column">Brenda Burnell</div>
</div>

<h2>Branch Committee</h2>
<div>
	<div class="column">Janet Brayson</div>
	<div class="column">Mairi Devlin</div>
	<div class="column">Ian Clarke</div>
</div>
<div>
	<div class="column">Pat Cowles</div>
	<div class="column">Heather Foote</div>
	<div class="column">Jean Weatherill</div>
</div>
<div>
	<div class="column">Catherine Livsey</div>
	<div class="column">Adrian Dickin</div>
</div>

<h2>Additional</h2>
<div>
	<div class="column_header">Newsletter Editor</div>
	<div class="column">Catherine Livsey {{{email 'newsletter@rscdsleeds.org.uk'}}}</div>
</div>
<div>
	<div class="column_header">Branch Shop Manager</div>
	<div class="column">Christine Parker-Jones</div>
</div>

<br />
<h1>Branch Constitution</h1>
The Branch Constitution is available in Microsoft Word format. <br />
<a href="http://www.rscdsleeds.org.uk/BranchAdmin/Constitution2010.docx">The Branch Constitution 2010</a> 
(Earlier versions: <a href="http://www.rscdsleeds.org.uk/BranchAdmin/Constitution2009.docx">2009</a>, 
<a href="http://www.rscdsleeds.org.uk/BranchAdmin/Constitution2007.docx">2007</a>, 
<a href="http://www.rscdsleeds.org.uk/BranchAdmin/Constitution2003.docx">2003</a>)


</div>
