---
pageTitle: "Calendar"
scripts: []
pageDescription: "Scottish Dancing classes and events in Leeds and the surrounding district. "
---
<h1>Calendar of events</h1>

<iframe src="https://calendar.google.com/calendar/b/1/embed?height=600&amp;wkst=1&amp;bgcolor=%23ffffff&amp;ctz=Europe%2FLondon&amp;src=YWRyaWFuLmRpY2tpbkBnbWFpbC5jb20&amp;src=Y2c3bDNmczYyOWh0bjZtOTMzZDc0dGI5azhAZ3JvdXAuY2FsZW5kYXIuZ29vZ2xlLmNvbQ&amp;src=MGMzM2tpMmJsOTg5MWE1YTFlNmJpZTRyMDBAZ3JvdXAuY2FsZW5kYXIuZ29vZ2xlLmNvbQ&amp;src=MzRnY3NldW5nM200NnRuM2pjZXZyM2RvcjRAZ3JvdXAuY2FsZW5kYXIuZ29vZ2xlLmNvbQ&amp;color=%23182186&amp;color=%239D7000&amp;color=%238A2D38&amp;color=%2381910B&amp;showTz=0&amp;showCalendars=0&amp;showTabs=1&amp;showDate=1&amp;showTitle=0" style="border:solid 1px #777" width="800" height="600" frameborder="0" scrolling="no"></iframe>