---
pageTitle: "Family Ceilidh"
scripts: ["handleEmailLinks();handleMaps();"]
pageDescription: "Leeds Family Ceilidh"
---
<h2 class="bottom-gap2">Family Ceilidh</h2>
<div class="row">
  <div class="col-md-6 bottom-gap2">
    <ul style="font-size: 18px; margin-bottom: 16px">
     <li>Like a barn dance but with a Scottish twist.</li>
     <li>No experience is necessary.</li>
     <li>Fun for all the family and all are welcome.</li>
    </ul>

  </div>
  <div class="col-md-6 bottom-gap2">
    <img src="images/ceilidh_1.jpg" style="width: 320px">
  </div>
</div>
<div class="row">
  <div class="col-md-6 bottom-gap2">
     <p>
       More are planned for the New Year so if you would like to receive information about them as it becomes available send us an email
       {{{emailTextLink 'sales@rscdsleeds.org.uk'}}}
     </p>
  </div>
  <div class="col-md-6">
    <img src="images/ceilidh_2.jpg" style="width: 320px">
  </div>
</div>
