---
pageTitle: "Family Ceilidh"
scripts: ["handleEmailLinks();handleMaps();"]
pageDescription: "Leeds Family Ceilidh"
---
<h2 class="bottom-gap2">Family Ceilidh</h2>
<div class="row">
  <div class="col-md-6 bottom-gap2">
    <ul style="font-size: 18px; margin-bottom: 16px">
     <li>Like a barn dance but with a Scottish twist.</li>
     <li>No experience is necessary.</li>
     <li>Fun for all the family and all are welcome.</li>
    </ul>
    The next ceilidh is being held on Saturday 30th November, from 6:30pm to 9:00pm at
    <div style="margin-left: 32px; margin-top: 8px;">
      <div>Holy Trinity Community Hall</div>
      <div>Memorial Drive</div>
      <div>Meanwood </div>
      <div>Leeds</div>
      <div>LS6 4LF</div>
      <button class='btn btn-primary btn-xs map-link' data-link="https://www.google.com/maps/place/Holy+Trinity+Community+Hall/@53.8307894,-1.5721856,16z/data=!4m5!3m4!1s0x0:0xec81784cf3621c68!8m2!3d53.8310352!4d-1.5672826">map</button>
    </div>
  </div>
  <div class="col-md-6 bottom-gap2">
    <img src="images/ceilidh_1.jpg" style="width: 320px">
  </div>
</div>
<div class="row">
  <div class="col-md-6 bottom-gap2">
     <p>
        Live music is by the  Bandiera Rossa Ceilidh Band and light refreshments will be provided.<br>
     </p>
     <p>
       Tickets are on the door (cash only).<br>
      Prices are adult ticket £5, child £3, family (2+2) - £12  under 5s free
     </p>
     <p>
       Numbers may be limited so reserve your place from {{{emailTextLink 'sales@rscdsleeds.org.uk'}}} or 07851 419656
     </p>
     <p>
       More are planned for the New Year so if you would like to receive information about them as it becomes available send us an email
       {{{emailTextLink 'sales@rscdsleeds.org.uk'}}}
     </p>
  </div>
  <div class="col-md-6">
    <img src="images/ceilidh_2.jpg" style="width: 320px">
  </div>
</div>
