---
pageTitle: "Leeds Branch Contact details"
scripts: ["handleEmailLinks();"]
pageDescription: "Leeds RSCDS Branch contact details"
---
<h1>Branch Contacts</h1>

<div class="row">
	<div class="col-md-3 col-xs-4 text-info">Chairman</div>
	<div class="col-md-3 col-xs-4">Marion Walbank</div>
  <div class="col-md-3 col-xs-4">{{{email 'chair@rscdsleeds.org.uk'}}}</div>
</div>
<div class="row">
	<div class="col-md-3 col-xs-4 text-info">Secretary</div>
	<div class="col-md-3 col-xs-4">Evelyn Davidson</div>
  <div class="col-md-3 col-xs-4">{{{email 'secretary@rscdsleeds.org.uk'}}}</div>
</div>
<br />
<div class="row">
	<div class="col-md-3 col-xs-5 text-info">Webmaster</div>
  <div class="col-md-3 col-xs-5">Adrian Dickin</div>
  <div class="col-md-1 col-xs-2">{{{email 'webmaster@rscdsleeds.org.uk'}}}</div>
</div>
