---
pageTitle: "Branch Events"
scripts: ["handleMaps();" ]
pageDescription: "Leeds Branch dancing events"
---
<script type="application/ld+json">[
    {
        "@context": "http://schema.org",
        "@type": "Event",
        "name": "Branch Dance",
        "startDate": "2016-05-21T19:30:00",
        "performers": {
            "@type": "Person",
            "name": "Alan Ross"
        },
        "location": {
            "@type": "Place",
            "name": "Otley Methodist Church Hall",
			"address": {
                "@type": "PostalAddress",
                "addressLocality": "Otley"
            }
        }
    },
    {
        "@context": "http://schema.org",
        "@type": "Event",
        "name": "Branch Dance",
        "startDate": "2016-06-18T19:30:00",
        "performers": {
            "@type": "Person",
            "name": "Robert Whitehead Trio"
        },
        "location": {
            "@type": "Place",
            "name": "St Chad's Parish Centre",
            "address": {
                "@type": "PostalAddress",
				"streetAddress": "Otley Road",
				"addressLocality": "Leeds",
				"postalCode": "LS16 5JT"
			}
        }
    }
    ]
</script>
<div class='body_text'>

{{>events-table data-events.events}}

</div>
