---
pageTitle: "Family Ceilidh"
scripts: ["handleEmailLinks();"]
pageDescription: "Leeds Family Ceilidh"
---
<h2 class="bottom-gap2">Family Ceilidh</h2>
<div class="row">
  <div class="col-md-12 bottom-gap2">
    <ul>
     <li>These family Ceilidhs are like a barn dance but with a Scottish twist.</li>
     <li>No experience is necessary.</li>
     <li>Fun for all the family and all are welcome.</li>
    </ul>

    <h4>Where and When</h4>
    The Ceilidhs are run on Saturdays 26th October and 30th November 2019 , from 6.30pm to 9pm.<br>
    The Ceilidhs have live music from the  Bandiera Rossa Ceilidh Band.

<p>Adult Ticket £5; Child £3; Family (2+2) - £12  Under 5s Free</p>
    <p>
      Light Refreshments provided<br>
      Tickets on the door (cash only). Adult ticket £5, child £3, family (2+2) - £12  under 5s free<br>
      Numbers may be limited so reserve your place from {{{emailText 'sales@rscdsleeds.org.uk'}}} or 07851 419656
    </p>

    <div style="margin-left: 32px; margin-top: 8px">Holy Trinity Community Hall</div>
    <div style="margin-left: 32px">Memorial Drive</div>
    <div style="margin-left: 32px">Meanwood </div>
    <div style="margin-left: 32px">Leeds</div>
    <div style="margin-left: 32px">LS6 4LF</div>
    <br>
    <br>
    <p>Family Ceilidhs with a  Scottish flavour</p>
    <p>Saturdays, 26th October and 30th November 2019  6.30pm to 9pm</p>
    <p>Live Music from the  Bandiera Rossa Ceilidh Band</p>
    <p>Holy Trinity Community Hall Meanwood  Memorial Drive, Leeds LS6 4LF</p>
    <p>Adult Ticket £5; Child £3; Family (2+2) - £12  Under 5s Free</p>
    <p>Like a barn dance but with a Scottish twist.<br>
    No experience necessary. Fun for all the family. All welcome.</p>
    <p>
      Light Refreshments provided<br>
      Tickets on the door (cash only)<br>
      Numbers may be limited so reserve your place from {{{emailText 'sales@rscdsleeds.org.uk'}}} or 07851 419656
    </p>

    <img src="images/DSC_1089-a.jpg">

    <br>
    These family Ceilidhs are like a barn dance but with a Scottish twist.<br>
    No experience is necessary. Fun for all the family and all are welcome.

    The Ceilidhs are run on Saturdays 26th October and 30th November 2019 , from 6.30pm to 9pm.
    The Ceilidhs have live music from the  Bandiera Rossa Ceilidh Band and are at

    <div>Holy Trinity Community Hall</div>
    <div>Memorial Drive</div>
    <div>Meanwood </div>
    <div>Leeds</div>
    <div>LS6 4LF</div>


 </div>

</div>
