---
pageTitle: "Family Ceilidh"
scripts: ["handleEmailLinks();"]
pageDescription: "Leeds Family Ceilidh"
---
<h2 class="bottom-gap2">Family Ceilidh</h2>
<div class="row">
  <div class="col-md-12 bottom-gap2">
    <p>Family Ceilidhs with a  Scottish flavour</p>
    <p>Saturdays, 26th October and 30th November 2019  6.30pm to 9pm</p>
    <p>Live Music from the  Bandiera Rossa Ceilidh Band</p>
    <p>Holy Trinity Community Hall Meanwood  Memorial Drive, Leeds LS6 4LF</p>
    <p>Adult Ticket £5; Child £3; Family (2+2) - £12  Under 5s Free</p>
    <p>Like a barn dance but with a Scottish twist.<br>
    No experience necessary. Fun for all the family. All welcome.</p>
    <p>
      Light Refreshments provided<br>
      Tickets on the door (cash only)<br>
      Numbers may be limited so reserve your place from {{{email 'sales@rscdsleeds.org.uk'}}} or 07851 419656
    </p>
 </div>

</div>

Family Ceilidhs
with a  Scottish flavour

Saturdays, 26th October and 30th November 2019  6.30pm to 9pm

Live Music from the  Bandiera Rossa Ceilidh Band

Holy Trinity Community Hall Meanwood  Memorial Drive, Leeds LS6 4LF

Adult Ticket £5; Child £3; Family (2+2) - £12  Under 5s Free

Like a barn dance but with a Scottish twist.
No experience necessary. Fun for all the family. All welcome.

Light Refreshments provided
Tickets on the door (cash only)
Numbers may be limited so reserve your place from sales@rscdsleeds.org.uk or 07851 419656
