---
pageTitle: "RSCDS Leeds Branch"
scripts: ["homeCarousel();"]
---
<div id="home-carousel">
  <div>
  	<a href="events.html">
		<h3>31st Oct 2015</h3>
		Back to Basics Workshop
  	</a>
  </div>
  <div>
  	<a href="events.html">
		<h3>31st Oct 2015</h3>
		Leeds Club Dance
	</a>
  </div>
  <div>
  	<a href="events.html">
		<h3>21st Nov 2015</h3>
		York/North Humberside 40th Anniversary Ball 
  	</a>
  </div>
  <div>
  	<a href="events.html">
		<h3>14th Dec 2015</h3>
		Adel Tea Dance 
  	</a>
  </div>
</div>

<div id="menu-button-bar">
	<div class="menu-button-wrapper">
		<a href="about_scottish.html">
			<div class="menu-button menu-dancers1-button"></div>
			<h3>New to Scottish Dancing</h3>
		</a>
		What is Scottish Country Dancing and why take it up.
	</div>
	<!--div class="menu-button menu-dancers1-button">
	</div-->
	<div class="menu-button-wrapper">
		<a href="events.html">
		  <div class="menu-button menu-events-button"></div>
		  <h3>Upcoming Branch Events</h3>
		</a>
	</div>
	<div class="menu-button-wrapper">
		<a href="http://rscdsleeds.uk/index.php">
			<div class="menu-button menu-shopping-button"></div>
			<h3>Branch Shop</h3>
		</a>		
	</div>
</div>

<div class="footer_area">
	<div class="footer-social">
		<div>
		  <a href="http://www.facebook.com/pages/Rscds-Leeds-Branch/134876863288229?sk=wall"><div class="facebook"></div></a>
		</div>
	</div>
</div>

