<html lang="en">
{{> header data-index}}
<body>
{{> body}}

{{> body_header}}


<div style="margin: 8px auto 0px auto; width: 240px; height: 200px; border: 1px solid blue;">
</div>


<div id="menu-button-bar">
	<div class="menu-button-wrapper">
		<div class="menu-button menu-dancers1-button"></div>
		<h3>New to Scottish Dancing</h3>
		Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi id efficitur quam. 
	</div>
	<div class="menu-button-wrapper">
		<div class="menu-button menu-news-button"></div>
		<h3>Scottish Dancing News</h3>
	</div>
	<!--div class="menu-button menu-dancers1-button">
	</div-->
	<div class="menu-button-wrapper">
		<a href="events.html">
		  <div class="menu-button menu-events-button"></div>
		</a>
		<h3>Upcoming Branch Events</h3>
	</div>
	<div class="menu-button-wrapper">
		<div class="menu-button menu-shopping-button"></div>
		<h3>Branch Shop</h3>
	</div>
</div>

<div class="signup_area">
	<div class="half-width-left">
	Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi id efficitur quam. 
	Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi id efficitur quam. 
	</div>
	<div class="half-width-right">
	 <h2>Register for an email newsletter</h2>
	 <div class="signup-block">
		 Email: <input type="text" class="signup-email" />
		  <button class="signup-button">Sign up</button>
	 </div>
	</div>
</div>

{{> footer data-index}}
</body>
</html>
