---
pageTitle: "RSCDS Leeds Branch"
footer: true
scripts: ["eventLinks();",
          "handleEmailLinks();"]
pageDescription: "The Leeds branch of the Royal Scottish Country Dance Society."
jsonLd: |
    <script type="application/ld+json">[
        {
          "@context" : "http://schema.org",
          "@type" : "Organization",
          "name" : "Leeds RSCDS",
          "url" : "http://www.rscdsleeds.org.uk/",
          "sameAs" : [
            "http://www.facebook.com/pages/Rscds-Leeds-Branch/134876863288229",
            "https://twitter.com/RSCDSLeeds"
          ]
        }
      ]
    </script>
---
<div class="row">
  {{>home-events title="Branch Events" events=data_events.events page="events.html"
        note="Branch dances now start at 7:00pm"
        warning="All branch events cancelled until further notice"}}
  {{>home-events title="Local Events" events=data_events.leeds_events page="leeds_events.html"}}
</div>
<div class="row">
  {{>home-events title="Day Events" events=data_events.special_events page="special_events.html"
        warning="All branch events cancelled until further notice"}}
  {{>home-events title="Weekend Events" events=data_events.weekend_events page="weekend_events.html"}}
</div>

<br />
<div class="row">
  <div class="col-md-6">
    <div class="bg-info info-block" style="padding-left: 32px">
      <div style="padding-bottom: 5px">
        <a href="documents/Member Form 2019-20 pink.pdf">Branch membership form for 2019-20</a>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    &nbsp;
  </div>
</div>
<br>

<div class="row">
  <div class="col-md-offset-2 col-md-2 col-sm-6 text-center bottom-gap2">
    <a href="about_scottish.html">
      <div class="menu-button menu-dancers1-button"></div>
      <h4>New to Scottish Dancing</h4>
    </a> What is Scottish Country Dancing and why take it up.
  </div>
  <div class="col-md-2 text-center col-sm-6 bottom-gap2">
    <a href="events.html">
      <div class="menu-button menu-events-button"></div>
      <h4>Branch Events</h4>
    </a>
  </div>
  <div class="clearfix visible-sm-block"></div>
  <div class="col-md-2 text-center col-sm-6 bottom-gap2">
    <a href="white_rose_festival.html">
      <div class="menu-button menu-whiterose-button"></div>
      <h4>White Rose Festival</h4>
    </a>
  </div>
  <div class="col-md-2 text-center col-sm-6 bottom-gap2">
    <a href="http://rscdsleeds.uk/index.php" target="_blank">
      <div class="menu-button menu-shopping-button"></div>
      <h4>Branch Shop</h4>
    </a>
  </div>
</div>
<div style="height: 60px">
</div>
