---
pageTitle: "Local dance events"
scripts: ["handleMaps();" ]
pageDescription: "Local dances, such as at the Leeds Club, with cribs and details"
---

<div class='body_text'>
{{>events-table data-events.leeds-events}}
</div>
