---
pageTitle: "Leeds Club History"
scripts: ["handleEmailLinks();"]
pageDescription: "History of the Leeds Scottish Country Dancing Club"
---

<p>
The following was written in 1971
</p>

<h2>The story of the Leeds Scottish Country Dance Club</h2>
<p>
Whilst there was at one time a branch of the RSCDS in Leeds, this had closed down and in 1950 Scottish dancing was virtually limited to three organised classes and one small semi - social class and there was little mixing of those attending these classes. Leeds Caledonian Society ran periodic dances but their Scottish Dance repertoire was limited to about four dances.
</p>

<p>
This did not suit a student named Brian Nettleton, however, so he organised very informal dances at the Lawnswood Arms at irregular intervals. In view of his impending departure to the Veterinary College in London, these seemed likely to come to an end. So one Sunday in August 1951 he called 10 enthusiasts to his home to decide how social dancing could be kept going. A suggestion that's the Branch be revived was impossible owing to the complete absence of any certified teacher in Leeds so the Scottish Country Dance Club was formed to run social dances until certified teachers were available. Each one agreed to pay four shillings (two promised to pay at the end of the month) so that the club would be in business with a capital of £2. A committee was formed as follows:–

<div class="row">
	<div class="col-md-2 col-xs-6 text-info">President</div>
	<div class="col-md-3 col-xs-6">Dr. William Cunningham</div>
</div>
<div class="row">
	<div class="col-md-2 col-xs-6 text-info">Chairman</div>
	<div class="col-md-3 col-xs-6">Mr. T. Hammond Jack</div>
</div>
<div class="row">
	<div class="col-md-2 col-xs-6 text-info">Treasurer</div>
	<div class="col-md-3 col-xs-6">Mr. J.Michael Leighton</div>
</div>
<div class="row">
	<div class="col-md-2 col-xs-6 text-info">Secretary</div>
	<div class="col-md-3 col-xs-6">Miss Claire Riley</div>
</div>
<div class="row">
	<div class="col-md-2 col-xs-6 text-info">Committee</div>
</div>
<div class="row">
	<div class="col-xs-offset-2 col-xs-10">Brian Nettleton</div>
	<div class="col-xs-offset-2 col-xs-10">Mrs William Cunningham</div>
	<div class="col-xs-offset-2 col-xs-10">Michael Dove</div>
	<div class="col-xs-offset-2 col-xs-10">Gillian Riley</div>
	<div class="col-xs-offset-2 col-xs-10">Peter Hill</div>
	<div class="col-xs-offset-2 col-xs-10">Jean Batty</div>
</div>
</p>

<p>
The inaugural dance was held at the Adel Memorial Hall on Saturday 21st September 1951 and a very satisfactory number of members enrolled. The four Officers and the Committee were confirmed in Office and the Club was in being to hold regular social dances. As the repertoire of dances was small and many dancers were lacking in experience, classes of half an hour were held by the Chairman prior to each dance, and, as M.C.he also taught one or two new dances during the dance. As time went on proper classes were organised for beginners, intermediate and advanced dancers.
</p>

<p>
The first Hogmanay Ball was held at the Griffin Hotel in 1951 to the music of Laurie Rasen and his band of beginners. Thanks to good newspaper publicity the ball was a resounding success. Present at the ball was a stranger by the name of Jim Nicholson. He was not a dancer but joined in Strip the Willow – which was danced with such abandon that he fell and broke his wrist. Undeterred by this he took up Scottish Dancing and later designed our club badge - the kilted owl called ‘Rufus’. In due course he went to Edinburgh. He became one of the RSCDS International team. He founded his own Scottish Dance Band, later he had to retire for business commitments, but not before the band had played at Holyrood House and been presented to Her Majesty the Queen.
</p>

<p>
In 1952, Brian Nettleton and Michael Dove attended the first fortnight of St Andrews and obtained first certificates. They then camped out, attending as ‘out patients’ and obtained second certificates while Hammond Jack and Jean Batty, attending in the orthodox manner obtained first certificates. Triumphantly they confronted Miss Jean Milligan brandishing their certificates and said “Now can we have a Branch in Leeds?”. Auntie Jean was delighted but – they were too honest and confessed that Brian was in London at College and Jean and Michael were soon going South to be married. There was a dreadful silence. The Society could not authorise the Branch on one first certificate permanently residing in Leeds, so we had to continue as a Club.
</p>

<p>
In July 1954, arising out of a chance remark by Charles Camm one fine summer evening at Adel when we were dancing out of doors, we held our first Festival of Scottish Dancing at Beckett Park Training College. We had no experience of such a Festival. 13 clubs sent 19 teams and six schools sent 11 teams and apart from being a great success, the Festival taught us many lessons. The first was that the afternoon display needed streamlining and the second was that the Training College Hall was too small for the 250 who attended the evening dance, also an experienced band was needed.
</p>

<p>
So when we held our second Festival in 1955 knew exactly what we were doing. So much so that apart from the introduction of a display by foreign dancers, the afternoon plan has remained virtually unchanged up to 1972. Our bookings of the New University Refectory and Jimmy Shand were fully justified. In the afternoon we had 28 adult teams and 24 junior teams. and the evening dance was attended by no less than 694 dances. 1956 saw our first Plan B Festival which ran like clockwork, and also the first visit from Bobby Watson who was immensely impressed. Our maximum and self- imposed limit has been 40 adult teams and 24 junior teams. In 1958 Jimmy Shand made his first long playing record at the evening dance. After reaching 754 dancers in 1959 we ran two evening dances in 1960 reaching a staggering total of 909 dancers with Jimmy Shand and Andrew Rankin. But in 1965 reverted to the single dance.
</p>

<p>
Almost from 1951 we had been giving light-hearted shows of Scottish Dancing but later the demonstrations became more organised. In August 1958, the holiday period, a request was received for a team to appear at the Leeds Empire with Jimmy Shand for a whole week in early September. A hurried circular went out and we had no difficulty in a raising team. But the highlight of our demonstration careers was at the premiere of “Tunes of Glory” at the Odeon. There we danced the Strathspey, Reel and Reel o’Tulloch to a Pipe Band - which is resolutely played Strathspey until the last eight bars after Tulloch when they were reluctantly change to reel. time
</p>

<p>
1958 was a memorable year in another way. Efforts had been made over a period of years to put into operation the original intention to become a Branch and finally after circularising all the pros and cons, an Extraordinary General Meeting was held. By an overwhelming majority members decided to remain at Club affiliated to the Society. After this two applications by individuals were refused by the Society knowing the Society owed the tremendous growth of Scottish Dancing in Yorkshire to the Club.
</p>

<p>
However, in 1962, after much heart searching, (after all Club members have voted that the Club should not become a Branch –  not that there should be no Branch in Leeds), the Club Committee authorised four members , including the President, Dr William Cunningham, The Secretary, Hammond Jack, Miss Mair Pinnell and Miss Shirley Shields, to apply as individuals for the formation of a Branch outside the Club. And the secretary had the unique experience of writing a letter of application and also writing a letter to say that the application was being made with the knowledge and blessing the Club and in recommending that the application be approved.
</p>

<p>
The application was approved and on the 21st June 1962 the inaugural meeting of the Branch was held. The Club gave a donation of £20 pounds and handed over all classes and demonstrations. In recognition of the formation of the Branch Miss Milligan attended in 1962 Leeds Club Festival. In the fertile soil of Leeds the Branch flourished. The Club and the Branch ran in harmony and so in June 1972 the Leeds branch RSCDS celebrated its 10th birthday and today 23rd September 1972 the temporary body which would have become a Branch celebrates its 21st.
</p>

<p>
Upon the suggestion of our present Chairman, Mr R.W.Hunter, 1967 saw our first visit to historic Castle Bolton in Wensleydale, once the prison of Mary, Queen of Scots. This dinner dance has since been a very popular annual event - with camping and hiking during the weekend for those who wish it.
</p>

<p>
1971 marked a step in our history taken with some sadness. The club had many happy years at the Adel Memorial Hall (for sixteen of them the caretaker Roland Smith made our tea and watched over our comfort). With the onslaught of modern life, the character at the Memorial Hall changed and after experiencing many new difficulties in the last three years there, the Committee and members of the Club decided at an Extraordinary General Meeting on 9th May 1970 to move in March 1971 to St Chad's Parish Centre. We came with the good wishes at the Memorial Hall Committee and found a welcome at St Chads. We are given every help from the Parish Centre Committee and from the Caretaker and his wife, Mr and Mrs Pearson.
</p>

<p>
We are here tonight therefore in this beautiful hall, celebrating our 21st birthday primarily because Brian Nettleton called a meeting one August Sunday in 1951. Looking back over 21 years with 19 Festivals to our credit, one can feel not only pride of achievement but also some amazement that that temporary body discussed that Sunday should have flourished is so long but that it should have been so directly responsible for the very widespread and permanent popularity and Scottish Dancing in the West Riding where there are now innumerable Clubs and classes as well as one of the largest RSCDS Branches in the country. Some of the leaders and members of those clubs and classes I hear tonight as members of the Leeds Club. In truth it can be said at due to the loyalty and enthusiasm of Members the aims of the club have been carried out:–
</p>

<p>
	<div class="center">“TO PROMOTE AND ENCOURAGE SCOTTISH COUNTRY</div>
 	<div class="center">DANCING IN LEEDS AND SURROUNDING DISTRICT”</div>
</p>

<h3>OFFICERS OF THE LEEDS S.C.D.CLUB</h3>

<h5>President</h5>
<div class="row">
	<div class="col-md-3 col-xs-6">Dr William Cunningham</div>
	<div class="col-md-9 col-xs-6">1951 – 1965</div>
	<div class="col-md-3 col-xs-6">Mr Charles Camm</div>
	<div class="col-md-9 col-xs-6">1965 – 1968</div>
	<div class="col-md-3 col-xs-6">Mr T Hammond Jack</div>
	<div class="col-md-9 col-xs-6">1968 – 1971</div>
	<div class="col-md-3 col-xs-6">Mr Harry Carr</div>
	<div class="col-md-9 col-xs-6">1971 –</div>
</div>

<h5>Treasurer</h5>
<div class="row">
	<div class="col-md-3 col-xs-6">Mr J.M.Layton</div>
	<div class="col-md-9 col-xs-6">1951 – 1952</div>
	<div class="col-md-3 col-xs-6">Mr F.L. Pilling</div>
	<div class="col-md-9 col-xs-6">1952 – 1954</div>
	<div class="col-md-3 col-xs-6">Mr H.J. Pullan</div>
	<div class="col-md-9 col-xs-6">1954 – 1959</div>
	<div class="col-md-3 col-xs-6">Mr E.M.thanks</div>
	<div class="col-md-9 col-xs-6">1959 – 1963</div>
	<div class="col-md-3 col-xs-6">Mr t.R.Spain</div>
	<div class="col-md-9 col-xs-6">1963 – 1965</div>
	<div class="col-md-3 col-xs-6">Mr R.W.Hunter</div>
	<div class="col-md-9 col-xs-6">1965 – 1968</div>
	<div class="col-md-3 col-xs-6">Mr K.J.Pennington</div>
	<div class="col-md-9 col-xs-6">1968 – 1969</div>
	<div class="col-md-3 col-xs-6">Dr F.Hepburn</div>
	<div class="col-md-9 col-xs-6">1969  –</div>
</div>

<h5>Secretary</h5>
<div class="row">
	<div class="col-md-3 col-xs-6">Miss Claire Riley</div>
	<div class="col-md-9 col-xs-6">1951 – 1954</div>
	<div class="col-md-3 col-xs-6">Mr Jim Burton</div>
	<div class="col-md-9 col-xs-6">1954 – 1956</div>
	<div class="col-md-3 col-xs-6">Mr T.Hammond Jack</div>
	<div class="col-md-9 col-xs-6">1956 – 1966</div>
	<div class="col-md-3 col-xs-6">Miss E. Rhoda Shaw</div>
	<div class="col-md-9 col-xs-6">1966 – 1972</div>
</div>

<h5>Chairman</h5>
<div class="row">
	<div class="col-md-3 col-xs-6">Mr T.Hammond Jack</div>
	<div class="col-md-9 col-xs-6">1951 – 1953</div>
	<div class="col-md-3 col-xs-6">Mrs V.Riley</div>
	<div class="col-md-9 col-xs-6">1953 – 1954</div>
	<div class="col-xs-12">(This office lapsed in 1954 chairman then being elected by Committee)</div>
</div>

<h4>Festival officers</h4>

<h5>Chairman</h5>
<div class="row">
	<div class="col-md-3 col-xs-6">Mr Charles Camm</div>
	<div class="col-md-9 col-xs-6">1954 – 1964</div>
	<div class="col-md-3 col-xs-6">Mr Ray Jones</div>
	<div class="col-md-9 col-xs-6">1965 – 1968</div>
	<div class="col-md-3 col-xs-6">Mr Harry Carr</div>
	<div class="col-md-9 col-xs-6">1969</div>
	<div class="col-md-3 col-xs-6">Mr Barry Walker</div>
	<div class="col-md-9 col-xs-6">1970 –</div>
</div>


<h5>Secretary</h5>
<div class="row">
	<div class="col-md-3 col-xs-6">Miss Claire Riley</div>
	<div class="col-md-9 col-xs-6">1954</div>
	<div class="col-md-3 col-xs-6">Mr Jim Burton</div>
	<div class="col-md-9 col-xs-6">1955</div>
	<div class="col-md-3 col-xs-6">Mr R.G.Clark</div>
	<div class="col-md-9 col-xs-6">1956 – 1957</div>
	<div class="col-md-3 col-xs-6">Mr T.Hammond Jack</div>
	<div class="col-md-9 col-xs-6">1958</div>
	<div class="col-md-3 col-xs-6">Miss A.Hinchcliff</div>
	<div class="col-md-9 col-xs-6">1959 – 1964</div>
	<div class="col-md-3 col-xs-6">Miss B.Moreland</div>
	<div class="col-md-9 col-xs-6">1965 – 1967</div>
	<div class="col-md-3 col-xs-6">Miss S. Townsend</div>
	<div class="col-md-9 col-xs-6">1968 – 1970</div>
	<div class="col-md-3 col-xs-6">Miss B.Brigg</div>
	<div class="col-md-9 col-xs-6">1971 –</div>
</div>


<h5>Ticket secretary</h5>
<div class="row">
	<div class="col-md-3 col-xs-6">Miss J.Cran</div>
	<div class="col-md-9 col-xs-6">1954</div>
	<div class="col-md-3 col-xs-6">Miss D.Todd</div>
	<div class="col-md-9 col-xs-6">1955 – 1958</div>
	<div class="col-md-3 col-xs-6">Mr & Mrs J. Lumsden</div>
	<div class="col-md-9 col-xs-6">1959 – 1969</div>
	<div class="col-md-3 col-xs-6">Mr RW.Hunter</div>
	<div class="col-md-9 col-xs-6">1970 –</div>
</div>

<br/>
<br/>
