---
pageTitle: "Branch Library"
scripts: []
pageDescription: "Leeds RSCDS branch library resources"
---

<h1>TEACHERS' LIBRARY</h1>
<h2>RSCDS LEEDS BRANCH</h2>

<p>
The following publications, RSCDS and Teachers' Association, Canada, are available on short term loan from Don Andrews.
</p>

<p>
A Guide to Music in the Teaching of Scottish Country Dancing
</p>

<p>
An introduction to warming up and cooling down for Scottish Country Dancing
</p>

<p>
Index to Formations and Movements in Scottish Country Dances
</p>

<p>
Standard Terminology for use in the description of Scottish Country Dances
</p>

<p>
TACNOTES ON RSCDS DANCES 1995, to Book 43
</p>

<p>
WON'T YOU JOIN THE DANCE, The Scottish Country Dance Manual, Jean C. Milligan, 1976 edition
</p>
