---
pageTitle: "Local"
scripts: ["handleEmailLinks();"]
pageDescription: "Local clubs and classes for Scottish Country Dancing"
---
<div class='row'>

	<div class="col-sm-6">
		<h1>Local Classes</h1>
		<h2>Leeds</h2>

		<h3>Barwick Scottish Country Dance Group</h3>
		<div class="block">
			Tuesday evening 7.30pm to 9.30pm.
		</div>
        <div class="block">
            The venue is Barwick in Elmet Village Hall, 37 Chapel Ln, Barwick in Elmet, Leeds LS15 4EL.<br/>
            Cost £3 per session.<br/>
            Contact : Helen Cox  Tel : 01132736195   Email: {{{email 'coxscholes@gmail.com'}}}
        </div>

		<h3>Leeds university</h3>
		<div class="block">
		The class is at 5pm on Tuesday, <a href="https://www.luu.org.uk/scottish-dance/" target="_blank">details.</a>
		</div>
		<h3>Swinnow SCD</h3>
		<div class="block">
		Irene Dracup teaches on a Monday night, 7.00pm at St Mark's Methodist Church.
		</div>

		<h2>Harrogate</h2>
		<h3>Harrogate Strathspey and Reel Club</h3>
		<div class="block">
		The class is on Monday’s at St Luke’s Parish Centre, Franklin Square, Harrogate at 7.30 - 9.45 approx.<br/>
        <h4>Calendar 2020</h4>
        6 January - 8 June 2020.<br/>
        No dancing 6th &amp; 13th April (Easter).
		</div>

		<h3>Harrogate Saltire Scottish Country Dance Club</h3>
		<div class="block">
		Wednesday evenings, <a href="http://www.harrogatesaltire.com/" target="_blank">details</a>
		</div>

	</div>

	<div class="col-sm-6">

		<h1>Local Clubs and Groups</h1>
		<ul>
			<li><a href="http://www.scottishdancingbrighouse.org/" target="_blank">Brighouse Scottish Country Dance Club</a></li>
			<li><a href="http://harrogatestrathspey.org.uk/" target="_blank">Harrogate Strathspey and Reel Club</a></li>
			<li>Leeds Scottish Country Dance Club</li>
			<li><a href="http://www.leedsuniversityunion.org.uk/clubsandsocieties/dance/scottishdance/" target="_blank">Leeds University Scottish Country Dance Society</a></li>
			<li><a href="http://northallertoncaledonian.weebly.com/" target="_blank">Northallerton Caledonian Society</a></li>
			<li><a href="http://www.scottish-dancing-lakes-dales-lancs.org.uk/" target="_blank">North West Craven</a></li>
			<li><a href="http://www.rscds-richmondnorthyorks.org.uk" target="_blank">Richmond Branch</a></li>
			<li><a href="http://www.rscdsyork.com/" target="_blank">York &amp; North Humberside Branch</a></li>
			<li><a href="http://www.yorkscdclub.org.uk/" target="_blank">York Scottish Country dance Club</a></li>
			<li><a href="http://rscds-sheffield.group.shef.ac.uk/" target="_blank">Sheffield RSCDS</a></li>
		</ul>

	</div>
</div>

<br/>
<br/>
