---
pageTitle: "Local"
scripts: ["handleEmailLinks();"]
pageDescription: "Local clubs and classes for Scottish Country Dancing"
---
<div class='row'>

	<div class="col-sm-6">
		<h1>Local Classes</h1>
		<h2>Leeds</h2>
		<h3>St Columba Scottish Country Dancers</h3>
		<div class="block">
			The group meets on Thursday evenings, 7.30pm to 9.30pm, at St Columba United Reformed Church, 70 Headingley Lane LS6 2DH.
			<div class="indent">
				<div>£4 per class: contact Don Andrews {{{email 'donald@hbandrews.fsnet.co.uk'}}}</div>
				<div>Autumn term 7th September to 14th December 2017</div>
				<div>Hogmanay Dance - Friday 29th December</div>
			</div>
		</div>
		<h3>Leeds university</h3>
		<div class="block">
		The class at 6pm on Thursday, <a href="http://www.leedsuniversityunion.org.uk/clubsandsocieties/dance/scottishdance/" target="_blank">details.</a>
		</div>
		<h3>Swinnow SCD</h3>
		<div class="block">
		Irene Dracup teaches  on a Monday night, 7.00pm - 10.00pm at St Mark's Methodist Church.
		</div>

		<h2>Harrogate</h2>
		<h3>Harrogate Strathspey and Reel Club</h3>
		<div class="block">
		Monday evenings, <a href="http://harrogatestrathspey.org.uk/" target="_blank">details</a>
		</div>

		<h3>Harrogate Saltire Scottish Country Dance Club</h3>
		<div class="block">
		Wednesday evenings, <a href="http://www.harrogatesaltire.com/" target="_blank">details</a>
		</div>

	</div>

	<div class="col-sm-6">

		<h1>Local Clubs and Groups</h1>
		<ul>
			<li><a href="http://www.scottishdancingbrighouse.org/" target="_blank">Brighouse Scottish Country Dance Club</a></li>
			<li><a href="http://www.harrogatesaltire.com/" target="_blank">Harrogate Saltire Scottish Country Dance Club</a></li>
			<li><a href="http://harrogatestrathspey.org.uk/" target="_blank">Harrogate Strathspey and Reel Club</a></li>
			<li>Leeds Scottish Country Dance Club</li>
			<li><a href="http://www.leedsuniversityunion.org.uk/clubsandsocieties/dance/scottishdance/" target="_blank">Leeds University Scottish Country Dance Society</a></li>
			<li><a href="http://northallertoncaledonian.weebly.com/" target="_blank">Northallerton Caledonian Society</a></li>
			<li><a href="http://www.scottish-dancing-lakes-dales-lancs.org.uk/" target="_blank">North West Craven</a></li>
			<li><a href="http://www.rscds-richmondnorthyorks.org.uk" target="_blank">Richmond Branch</a></li>
			<li><a href="http://www.rscdsyork.com/" target="_blank">York &amp; North Humberside Branch</a></li>
			<li><a href="http://www.yorkscdclub.org.uk/" target="_blank">York Scottish Country dance Club</a></li>
			<li><a href="http://rscds-sheffield.group.shef.ac.uk/" target="_blank">Sheffield RSCDS</a></li>
		</ul>

	</div>
</div>

<br/>
<br/>
