---
pageTitle: "Local"
scripts: []
---
<div class='body_text'>

<div class="two_column">
<h1>Local Classes</h1>
<h2>Harrogate</h2>
<ul>
 <li>Monday evenings with the <a href="http://harrogatestrathspey.org.uk/">Harrogate Strathspey and Reel Club</a>.</li>
 <li>Wednesday evenings with the <a href="http://www.harrogatesaltire.com/">Harrogate Saltire Scottish Country Dance Club</a></li>
 </ul>
<h2>Leeds</h2>
<ul>
 <li>Don Andrews teaches a social class on Thursdays at St Columba United Reformed Church Hall, Headingley, LS6 3DH from 7.30 to 9.30. Further Details from 0113 269 1791.</li>
<li>Leeds university run a class on a Tuesday night at 6.30 - <a href="http://www.leedsuniversityunion.org.uk/clubsandsocieties/dance/scottishdance/">Full details.</a></li>
<li>Irene Dracup teaches Swinnow SCD on a Monday night 7.00 - 10.00 at St Mark's Methodist Church</li>
</ul>
</div>

<div class="two_column">

<h1>Local Clubs and Groups</h1>
<ul>
	<li><a href="http://www.scottishdancingbrighouse.org/">Brighouse Scottish Country Dance Club</a></li>
	<li><a href="http://www.harrogatesaltire.com/">Harrogate Saltire Scottish Country Dance Club</a></li>
	<li><a href="http://harrogatestrathspey.org.uk/">Harrogate Strathspey and Reel Club</a></li>
	<li><a href="http://www.rscdsleeds.org.uk/Knaresborough/Default.asp">Knaresborough Scottish</a> </li>
	<li>Leeds Scottish Country Dance Club</li>
	<li><a href="http://www.leedsuniversityunion.org.uk/clubsandsocieties/dance/scottishdance/">Leeds University Scottish Country Dance Society</a></li>
	<li><a href="http://northallertoncaledonian.weebly.com/">Northallerton Caledonian Society</a></li>
	<li><a href="http://www.scottish-dancing-lakes-dales-lancs.org.uk/">North West Craven</a></li>
	<li><a href="https://www.sites.google.com/site/richmondnyrscds/">Richmond Branch</a></li>
	<li><a href="http://www.rscdsyork.com/">York &amp; North Humberside Branch</a></li>
	<li><a href="http://www.yorkscdclub.org.uk/">York Scottish Country dance Club</a></li>
</ul>

</div>
</div>
