---
pageTitle: "Local"
scripts: []
---
<div class='body_text'>
<h1>Local Clubs and Groups</h1>
<ul>
	<li><a href="http://www.scottishdancingbrighouse.co.uk/">Brighouse Scottish Country Dance Club</a></li>
	<li><a href="http://www.harrogatesaltire.com/">Harrogate Saltire Scottish Country Dance Club</a></li>
	<li><a href="http://harrogatestrathspey.org.uk/">Harrogate Strathspey and Reel Club</a></li>
	<li><a href="http://www.rscdsleeds.org.uk/Knaresborough/Default.asp">Knaresborough Scottish</a> *</li>
	<li>Leeds Scottish Country Dance Club</li>
	<li><a href="http://www.leedsuniversityunion.org.uk/clubsandsocieties/dance/scottishdance/">Leeds University Scottish Country Dance Society</a></li>
	<li><a href="Northallerton Caledonian Society">Northallerton Caledonian Society</a></li>
	<li><a href="http://www.scottish-dancing-lakes-dales-lancs.org.uk/">North West Craven</a></li>
	<li><a href="http://www.bbc.co.uk/northyorkshire/content/articles/2006/08/24/scottish_country_dancing_feature.shtml">North Yorkshire</a></li>
	<li><a href="http://www.communigate.co.uk/ne/richmondrscds">Richmond Branch</a></li>
	<li><a href="http://www.rscdsyork.com/">York &amp; North Humberside Branch</a></li>
	<li><a href="http://www.yorkscdclub.org.uk/">York Scottish Country dance Club</a></li>
	<li><a href="http://www.communigate.co.uk/brad/standrewssocietybradford/index.phtml">St Andrew's Society of Bradford</a></li>
</ul>
</div>
