---
pageTitle: "Newsletters"
scripts: []
newsletters:
   - filename: Newsletter78.pdf
     month: August
     year: 2015
     version: 78
   - filename: Newsletter77.pdf
     month: May
     year: 2015
     version: 77
   - filename: RSCDSNewsletter%2075.pdf
     month: November 
     year: 2014
     version: 75
   - filename: RSCDSNewsletter%2074.pdf
     month: August 
     year: 2014
     version: 74
   - filename: RSCDS%20Newsletter70.pdf
     month: September 
     year: 2013
     version: 70
   - filename: RSCDS%20Newsletter69.pdf
     month: May 
     year: 2013
     version: 69
   - filename: RSCDS%20Newsletter%2060.pdf
     month: February 
     year: 2011
     version: 60
   - filename: RSCDS%20Newsletter%2059a.pdf
     month: November 
     year: 2010
     version: 59a
   - filename: RSCDSNewsletter%2057.pdf
     month: May 
     year: 2010
     version: 57
   - filename: RSCDSNewsletter%2053.pdf
     month: May 
     year: 2009
     version: 53
   - filename: RSCDS%20Newsletter%2049.pdf
     month: May 
     year: 2008
     version: 49
   - filename: RSCDS%20Newsletter%2048.pdf
     month: February 
     year: 2008
     version: 48
   - filename: RSCDS%20Newsletter%2044.pdf
     month: February 
     year: 2007
     version: 44
   - filename: RSCDS%20Newsletter%2041.pdf
     month: May 
     year: 2006
     version: 41
   - filename: RSCDS%20Newsletter%2040a.pdf
     month: February 
     year: 2006
     version: 40
   - filename: RSCDS%20Newsletter%2040.pdf
     month: November 
     year: 2005
     version: 39
   - filename: RSCDS%20Newsletter%2041.pdf
     month: May 
     year: 2005
     version: 38
   - filename: RSCDS%20Newsletter%2037.pdf
     month: February 
     year: 2005
     version: 37
   - filename: RSCDS%20Newsletter%2036.pdf
     month: November 
     year: 2004
     version: 36
   - filename: RSCDS%20Newsletter%2035.pdf
     month: August 
     year: 2004
     version: 35
   - filename: RSCDS%20Newsletter%2034.pdf
     month: February 
     year: 2004
     version: 34
   - filename: RSCDS%20Newsletter%2033.pdf
     month: February 
     year: 2004
     version: 33
   - filename: RSCDS%20Newsletter32.pdf
     month: November
     year: 2003
     version: 32
   - filename: RSCDS%20Newsletter%2031.pdf
     month: August 
     year: 2003
     version: 31
   - filename: RSCDS%20Newsletter30.pdf
     month: May 
     year: 2003
     version: 30
   - filename: RSCDS%20Newsletter29.pdf
     month: February 
     year: 2003
     version: 29
pageDescription: "Some of the Leeds RSCDS newsletters"
---

<div class='body_text'>

<div class="two_column">
	<h1>Leeds Newsletters</h1>

	<div class="heading-panel">
		<table class="tabular">
			<thead>
				<th>Month</th>
				<th>Year</th>
				<th>Version</th>
				<th>&nbsp;</th>
			</thead>
			<tbody>			
				{{#each newsletters}}
				<tr>
					<td>
						{{month}}
					</td>
					<td>
						{{year}}
					</td>
					<td>
						{{version}}
					</td>
					<td>
						<a href="http://www.rscdsleeds.org.uk/Newsletter/{{{filename}}}">view</a>
					</td>
				</div>
				{{/each}}
			</tbody>
		</table>
	</div>
</div>

</div>




