---
pageTitle: "Newsletters"
scripts: []
---
<div class='body_text'>

<div class="two_column">
<h1>Leeds Newsletters</h1>

<div>
  <div class="newsletter_name">
	<a href="http://www.rscdsleeds.org.uk/Newsletter/Newsletter78.pdf">August 2015</a>
  </div> (Issue 78) 
</div>
<div>
  <div class="newsletter_name">
    <a href="http://www.rscdsleeds.org.uk/Newsletter/Newsletter77.pdf">May 2015</a>
  </div> (Issue 77)
</div>
<div>
  <div class="newsletter_name">
    <a href="http://www.rscdsleeds.org.uk/Newsletter/RSCDSNewsletter%2075.pdf">November 2014</a>
  </div> (Issue 75)
</div>

<div>
  <div class="newsletter_name">
    <a href="http://www.rscdsleeds.org.uk/Newsletter/RSCDSNewsletter%2074.pdf">August 2014</a>
  </div> (Issue 74)
</div>

<div>
  <div class="newsletter_name">
    <a href="http://www.rscdsleeds.org.uk/Newsletter/RSCDS%20Newsletter%2033.pdf">February 2004</a>
  </div> (Issue 33)
</div>

<div>
  <div class="newsletter_name">
    <a href="http://www.rscdsleeds.org.uk/Newsletter/RSCDS%20Newsletter32.pdf">November 2003</a>
  </div> (Issue 32)
</div>

<div>
  <div class="newsletter_name">
    <a href="http://www.rscdsleeds.org.uk/Newsletter/RSCDS%20Newsletter%2031.pdf">August 2003</a>
  </div> (Issue 31)
</div>

<div>
  <div class="newsletter_name">
    <a href="http://www.rscdsleeds.org.uk/Newsletter/RSCDS%20Newsletter30.pdf">May 2003</a>
  </div> (Issue 30)
</div>

<div>
  <div class="newsletter_name">
    <a href="http://www.rscdsleeds.org.uk/Newsletter/RSCDS%20Newsletter29.pdf">February 2003</a>
  </div> (Issue 29)
</div>

</div>
<div class="two_column">
</div>

</div>

February 2003 	


