---
pageTitle: "Branch Classes"
scripts: []
pageDescription: "News"
---
<div class='body_text'>
<h2>Karen Taylor’s funeral</h2>
<p>
The funeral service will be at St Margaret’s Church, Queens Road, Ilkley, LS29 9QL, 2.00pm, on Thursday 28th January.  The service will be followed by a reception at Ilkley Rugby Club, Denton Rd, LS29 0BZ.</p>

<p>The Thursday afternoon class at St Margaret’s Church Hall is therefore cancelled.</p>

<h2>The Burns Celebration Tea Dance</h2>

<p>The Burns Celebration Tea Dance scheduled for that date and venue will now take place at 2.00pm on Thursday 4th February.  Ian Slater will provide the music.</p>
We are sure all dancing colleagues will understand.
</div>


