---
pageTitle: "Branch News"
scripts: []
pageDescription: "News"
---
<div class='body_text'>

<div class="block">To all dancing friends</div>

<div class="block">The next Leeds Branch dance takes place on Saturday 20th February at St Chad’s Parish Centre, Leeds LS16 5JT, to the music of Ian Slater.</div>

<div class="block">The hall will be open from 6-45pm.</div>

<div class="block">We would like to invite you to join us before the dance for tea, coffee and cake from 7.00pm. We are extending this invitation as there is a function on the same evening in the church and parking may therefore be tight and we hope that by coming early our dancers will be able to park with ease. </div>

<div class="block">If you do have difficulty parking at St Chad's, emerge from the car park and turn right into Otley Road then left up Hollin Road, by the Three Horse Shoes, then left again into Weetwood Lane. Parking is permitted in the area of Weetwood Lane a little further away from it's Otley Road junction.  Parking on the same side of Otley Road as St Chad's is generally restricted.</div>

</div>


