---
pageTitle: "Branch News"
scripts: []
pageDescription: "News"
---
<div class='body_text'>

<div class="block">
Today's dance is held at Otley Methodist Church hall. The hall is located in the centre of Otley and is easy to find. It is situated on the A659, the main road coming in from Pool, and has an entrance on Boroughgate where there is some street parking and another entrance on Walkergate. There is a car park directly across the road from this Walkergate entrance.<br />
Please note - on website shows Walkergate as one-way - it isn't.
</div>

</div>


