---
pageTitle: "Resources"
scripts: []
pageDescription: "Web sites that are useful to Scottish Country dancers"
---
<div class='body_text'>

<div class="block">
The <a href="http://whiterosefestival.uk/" target="_blank">White Rose Festival</a> site.
</div>

<div class="block">
The <a href="http://rscdsleeds.uk/index.php" target="_blank">Leeds branch shop</a>; selling CD's,
books and shoes.
</div>

<div class="block">
The <a href="https://www.rscds.org" target="_blank">RSCDS</a> is the Royal Scottish Country Dancing society website, they also have a <a href="https://www.facebook.com/RSCDS" target="_blank">Facebook</a> page
and <a href="https://www.youtube.com/user/TheRSCDS" target="_blank">Youtube</a> channel.
</div>


<div class="block">
The <a href="http://www.scottish-country-dancing-dictionary.com/" target="_blank">Scottish Country Dancing Dictionary</a> explains the formations and technical terms used in Scottish Country dancing.
</div>


<div class="block">
The <a href="http://my.strathspey.org/dd/index/" target="_blank">Scottish Country Dance Database</a> allows you to search for dances by name, formation, devisor etc. For each dance you can see text cribs, diagram cribs and videos. <br/>
Dance lists can be created and the cribs saved as PDFs, this is used by the Leeds Branch to create its dance cribs.
</div>


<div class="block">
The <a href="http://www.rscdsyork.com/pdf_files/Diary2016-2017.pdf" target="_blank">Yorkshire Diary 2016-2017</a> is a guide to Scottish Country Dancing in Yorkshire and the North East.</div>
</div>
