---
pageTitle: "Resources"
scripts: []
---
<div class='body_text'>

<h4>RSCDS</h4>
This is the <a href="https://www.rscds.org">website</a> for the society.

<h4>Scottish Country Dancing Dictionary</h4>
This <a href="http://www.scottish-country-dancing-dictionary.com/">site</a> explains the formations and technical terms used in Scottish Country dancing.


<h4>Scottish Country Dance Database</h4>
This <a href="http://my.strathspey.org/dd/index/">site</a> allows you to search for dances by name, formation, devisor etc. For each dance you can see text cribs, diagram cribs and videos. <br/>
Dance lists can be created and the cribs saved as PDFs, this is used by the Leeds Branch to create it's dance cribs.


</div>
