---
pageTitle: "Resources"
scripts: []
pageDescription: "Web sites that are useful to Scottish Country dancers"
---
<div class='body_text'>

<div>
The <a href="https://www.rscds.org">RSCDS</a> is the Royal Scottish Country Dancing society website.
</div>

<br />
<div>
The <a href="http://www.scottish-country-dancing-dictionary.com/">Scottish Country Dancing Dictionary</a> explains the formations and technical terms used in Scottish Country dancing.
</div>

<br />
<div>
The <a href="http://my.strathspey.org/dd/index/">Scottish Country Dance Database</a> allows you to search for dances by name, formation, devisor etc. For each dance you can see text cribs, diagram cribs and videos. <br/>
Dance lists can be created and the cribs saved as PDFs, this is used by the Leeds Branch to create it's dance cribs.
</div>

</div>
