---
pageTitle: "Special branch events"
scripts: ["handleMaps();" ]
pageDescription: "Leeds Branch Special Events, such as Scottish dancing day schools, Highland dancing day schools and the White Rose festival"
---
<div class='body_text'>
{{>events-table data-events.special-events}}
</div>
