---
pageTitle: "Videos"
scripts: []
pageDescription: "videos from the Leeds branch"
---
<h1>Videos</h1>

<p>The Leeds branch has a <a href="https://www.youtube.com/channel/UCaSPpGgeE22ZcqXdlpBovJw">Youtube channel</a></p>
<p>In August the Leeds and Richmond branches were demonstrating scottish country dancing at Castle Howard, at the Countryfile event.</p>

<div class="video-block">
<iframe width="560" height="315" src="https://www.youtube.com/embed/R-W7KpKZ884" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>

<div class="video-block">
  <iframe width="560" height="315" src="https://www.youtube.com/embed/iw9CZNLwKk4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
