---
pageTitle: "Videos and Pictures"
scripts: []
pageDescription: "videos and pictures of the Leeds branch"
---
<h1>Videos and pictures</h1>

<div class="row">
  <div class="col-md-12">
    <p>The Leeds branch has a <a href="https://www.youtube.com/channel/UCaSPpGgeE22ZcqXdlpBovJw">Youtube channel</a>.</p>
  </div>
</div>
<div class="row">
  <div class="col-md-12" style="margin-bottom: 12px">
    <h3>Castle Howard - August 2019</h3>
    <img src="images/castle-howard-560.jpg" style="float: left; margin-right: 12px">
    In August the Leeds and Richmond branches were demonstrating Scottish country dancing at Castle Howard,
    which was hosting BBC's Countryfile event.<br><br>
    Pictures of the event can be viewed on <a href="https://photos.app.goo.gl/gzb1JiiBTCAhtwhR6" target="_blank">Google photos</a> and the videos
      on <a href="https://www.youtube.com/playlist?list=PLgXeDvPkF1lAF9avyxUMNKTL_AK12c40a">Youtube</a>
  </div>
</div>
<div class="row">
  Below are two of the videos from the event, the others can be found on this <a href="https://www.youtube.com/playlist?list=PLgXeDvPkF1lAF9avyxUMNKTL_AK12c40a">Youtube playlist</a>.
  <div class="col-md-12 bottom-gap2">
    <div class="video-block">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/R-W7KpKZ884" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>

    <div class="video-block">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/iw9CZNLwKk4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
  </div>
</div>
