---
pageTitle: "White Rose festival"
scripts: []
pageDescription: "About the White Rose festival Scottish country dancing"
---

<h1>About</h1>
The White Rose festival is an outdoors dance festival organised by the Leeds branch, with teams from around the country and live music and piping.<br />
The afternoon format is massed dancing for adults and children, highland dancing and demonstration dancing.
<br />
In the evening there is a social dance with a live band.
<br />
<img src="images/white_rose_festival.jpg" alt="A field of dancers" class="scalable-image" />
<br />

<h1>History</h1>
In 2016 the White Rose festival was in it's 62nd year. <br />
For 43 years the Leeds club organised the festival, this was followed by York SCD Club for six years and the Leeds Branch for the last 12 years.
<br />
<br />
<h1>The program</h1>
Details on the festival can be seen on the <a href="http://whiterosefestival.uk" target="_blank">White Rose festival website</a>.  <br />
<br />


<div class="video-block">
<iframe width="560" height="315" src="https://www.youtube.com/embed/daQnbE1-OAw" frameborder="0" allowfullscreen></iframe>
</div>
This video shows <a href="http://rscds-sheffield.group.shef.ac.uk/" target="_blank">Sheffield RSCDS branch</a> dancing a 2016 demonstration dance <i>Swings and Roundabouts</i>. The dance was devised by one of their members and published in <i>Third Sheaf Collection Diamond Jubilee 1955 - 2015</i>.

<br />
<br />
